<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forms</title>
  </head>
  <body>
    <form action="/" method="post">
        {% csrf_token %}
        {{form}}
        {% comment %} {% if has_error%}
        <p>Incorrect data</p>
        {% endif %} {% endcomment %}
        {% comment %} <label>First name</label>
        <input type="text" name="firstname"> {% endcomment %}
        {% comment %} <label>Last name</label>
        <input type="text" name="lastname"> {% endcomment %}
        <button>Submit</button>
    </form>
  </body>
</html>

